<div class="lock"></div>

<form ng-submit="unlock()">
    <div class="masterpasswordInput">
        <div class="masterpasswordRight"></div>
        <button id="unlock" tabindex="2" class="unlock"></button>
        <div class="masterpasswordLeft"></div>

        <input id="masterpassword" class="masterpassword" type="password" tabindex="1" placeholder="Master Password" ng-model="masterpassword">

        <div ng-show="error" class="error">
            Wrong username or password
        </div>
    </div>
</form>
