html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 250px;
}

.lock {
    background-image: url(../images/lock.png);
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    margin: 10px auto;
}

.lock.unlocking {
    -webkit-animation:spin 2s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.masterpasswordInput {
    margin-top: 20px;
    height: 45px;
    background-image: url(../images/masterpasswordCenter.png);
}

.masterpasswordLeft {
    height: 45px;
    width: 10px;
    background-image: url(../images/masterpasswordLeft.png);
    float: left;
}

.masterpasswordRight {
    height: 45px;
    width: 10px;
    background-image: url(../images/masterpasswordRight.png);
    float: right;;
}

.masterpassword {
    border: none;
    height: 25px;
    margin-top: 10px;
    background: none;
    width: 195px;
}

.masterpassword:focus {
    outline: none;
}

.unlock {
    background: transparent url(../images/unlock-button.png) no-repeat;
    background-size: 29px 25px;
    width: 29px;
    height: 25px;
    float: right;
    margin-top: 10px;
    border-style: none;
}

.unlock:focus {
    outline: none;
}

.error {
    text-align: center;
    color: #f00;
    margin-top: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.webform {
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

.webform:hover {
    background-image: url(../images/item-selected.png);
    color: #fff;
}

.filling .webform {
    color: #ccc;
}
